alias cwd="code ." # code work dir
alias ll="ls -Ahl"
alias md="mkdir"
alias ni=touch
alias pn=pnpm
alias pips="pn i && pn start"
alias pipd="pn i && pn dev"

{{- if eq .chezmoi.os "windows" }}
alias open=explorer
{{- end }}
