[data]
    work.email = ""
    work.name = ""
	work.anthropic_auth_token = ""
	work.anthropic_vertex_base_url = ""
	work.anthropic_vertex_project_id = ""
	work.openai_api_key = ""
	work.openai_base_url = ""
	work.gemini_api_key = ""
	work.gemini_base_url = ""

{{- if ne .chezmoi.os "windows" }}
[merge]
    command = "bash"
    args = [
        "-c",
        "cp {{`{{ .Target }}`}} {{`{{ .Target }}`}}.base && code --new-window --wait --merge {{`{{ .Destination }}`}} {{`{{ .Target }}`}} {{`{{ .Target }}`}}.base {{`{{ .Source }}`}}",
    ]
{{- end }}
