export ANTHROPIC_AUTH_TOKEN={{ .work.anthropic_auth_token }}
export ANTHROPIC_VERTEX_BASE_URL={{ .work.anthropic_vertex_base_url }}
export ANTHROPIC_VERTEX_PROJECT_ID={{ .work.anthropic_vertex_project_id }}
export CLAUDE_CODE_SKIP_VERTEX_AUTH=1
export CLAUDE_CODE_USE_VERTEX=1
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
export OPENAI_API_KEY={{ .work.openai_api_key }}
export OPENAI_BASE_URL={{ .work.openai_base_url }}
export GEMINI_API_KEY={{ .work.gemini_api_key }}
export GOOGLE_GEMINI_BASE_URL={{ .work.gemini_base_url }}
